body {
    width: 100%;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
}

.easyback_logo {
    margin-left: 10%;
}

.navigation_bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 70%;
    font-size: 1.2rem;
}

.nav__ul {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    color: #9698A6;
}

button {
    padding: 6px;
    width: 105px;
    background-color: hsl(136, 40%, 65%);
    border-radius: 10px;
    border: 3px solid #73AD21;
    color: whitesmoke;
}

button:hover {
    transform: scaleY(1.5);
}
/* END OF HEADER CODE */
.image_text-container {
    display: flex;
    flex-direction: row;
    height: 700px
}

.Information_txt {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15%;
    margin-left: 10%;
    width: 20%;
}

.desktop_back_Images {
    display: block;
    position: absolute;
    width: 60%;
    top: 10%;
    right: 0;
    z-index: -10;
}

.phone_Images {
    margin-top: 2%;
    width: 40%;
    top: 0;
    z-index: 0;
}

/* END OF IMAGE & TXT CODE */

.feature_container {
    background-color: #F3F4F6;
}

.Why_choose_Easybank {
    padding-top: 4%;
    margin-left: 10%;
    max-width: 500px;
    padding-bottom: 2%;
}


.text_align{
    margin-left: 10%;
}


.feature_logo_container {
    margin-left: 10%;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.feature {
    width: 350px;
    padding-right: 1rem;
}

/* // .feature :end */

.Articles_block {
    background-color: white;
    margin-bottom: 55px;
    padding-top: 3%;
}


.image_flex {
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.small_font {
    font-size: 1rem;
    color: #9698A6;
    width: 230px;
}

.Articles_block_image {
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

/* END OF ARTICAL BLOCK */


.footer {
    background-color: #2D314D;
    min-height: 14rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social_media {
    margin-left: 10%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 150px;
    flex-shrink: 2;
}

.social_media_icon {
    margin-top: auto;
}

.contact_info {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 2.5rem;
    margin-left: 200px;
    width: 80px;
    list-style: none;
    justify-content: space-between;
}

.invite {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 150px;
    margin-top: auto;
    margin-right: 200px;
}

.phone_back_Images {
    display: none;
}

@media only screen and (max-width: 500px) {
    .nav__ul,
    .Request {
        display: none;
    }

    .easyback_logo {
        margin-left: 30%;
    }

    .image_text-container {
        height: auto;
        margin-top: 100%;
    }


    .Information_txt {
        width: auto;
        margin-left: auto;
    }

    .feature_logo_container {
        flex-direction: column;
        width: 70%;
    }

    /* footer block  */

    .footer {
        flex-direction: column;
        flex-wrap: nowrap;
    }


    .social_media {
        height: auto;
        width: auto;
        align-items: center;
    }

    .contact_info {
        width: auto;
        align-items: center;
        margin: 0;
        padding: .5rem;
    }

    .invite {
        width: 100%;
        margin: 00px;
        height: 100px;
        align-items: center;
    }

    .Articles_block {
        margin-left: 0;
    }

    .image_flex {
        display: block;
        /* flex-direction: column; */
        flex-wrap: nowrap;
        width: 100px;
        flex-shrink: 0;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

    .desktop_back_Images {
        display: none;
    }

    .phone_back_Images {
        display: block;
        top: 0;
        right: 0%;
        position: absolute;
        width: 100%;
        z-index: -10;
    }

    .phone_Images {
        display: block;
        top: 0;
        left: 0%;
        z-index: -10;
        width: 100%;
    }
}